@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, sans-serif, system-ui;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: "IBM Plex Mono", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Lora, serif;
  --radius: 0.7rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.7rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2035 0.0016 197.0331);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2035 0.0016 197.0331);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2035 0.0016 197.0331);
  --primary: oklch(49.21% 0.286 266.40);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9702 0 0);
  --secondary-foreground: oklch(0.2035 0.0016 197.0331);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.5304 0.0061 196.9708);
  --accent: oklch(0.9496 0.0238 270.3426);
  --accent-foreground: oklch(0.2035 0.0016 197.0331);
  --destructive: oklch(0.6542 0.2321 28.6592);
  --border: oklch(0.9173 0.0022 197.1191);
  --input: oklch(0.9173 0.0022 197.1191);
  --ring: oklch(0.5490 0.2489 269.2583);
  --chart-1: oklch(0.6580 0.1811 269.3579);
  --chart-2: oklch(0.7392 0.1721 154.2975);
  --chart-3: oklch(0.8114 0.1402 65.0198);
  --chart-4: oklch(0.7135 0.2781 326.5536);
  --chart-5: oklch(0.8017 0.1334 191.1841);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.2035 0.0016 197.0331);
  --sidebar-primary: oklch(0.5490 0.2489 269.2583);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9702 0 0);
  --sidebar-accent-foreground: oklch(0.2035 0.0016 197.0331);
  --sidebar-border: oklch(0.9173 0.0022 197.1191);
  --sidebar-ring: oklch(0.7025 0.0046 197.0516);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-inter: "Inter", sans-serif;
  --font-sans: var(--font-inter), ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.05;
  --shadow-blur: 7.5px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: -0.025em;
  --spacing: 0.27rem;
  --shadow-2xs: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: -0.025em;
}

.dark {
  --background: oklch(0.1472 0.0034 196.7890);
  --foreground: oklch(0.9832 0.0053 286.3021);
  --card: oklch(0.2035 0.0016 197.0331);
  --card-foreground: oklch(0.9832 0.0053 286.3021);
  --popover: oklch(0.2499 0.0030 196.9663);
  --popover-foreground: oklch(0.9832 0.0053 286.3021);
  --primary: oklch(0.6580 0.1811 269.3579);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2499 0.0030 196.9663);
  --secondary-foreground: oklch(0.9832 0.0053 286.3021);
  --muted: oklch(0.2911 0.0029 196.9990);
  --muted-foreground: oklch(0.7025 0.0046 197.0516);
  --accent: oklch(0.3414 0.2038 266.8985);
  --accent-foreground: oklch(0.9832 0.0053 286.3021);
  --destructive: oklch(0.6542 0.2321 28.6592);
  --border: oklch(0.2911 0.0029 196.9990);
  --input: oklch(0.3619 0.0027 197.0363);
  --ring: oklch(0.6580 0.1811 269.3579);
  --chart-1: oklch(0.7317 0.1380 269.1250);
  --chart-2: oklch(0.7960 0.1382 163.7452);
  --chart-3: oklch(0.8644 0.1221 77.4621);
  --chart-4: oklch(0.7799 0.1898 326.2255);
  --chart-5: oklch(0.8737 0.1229 191.9222);
  --sidebar: oklch(0.2035 0.0016 197.0331);
  --sidebar-foreground: oklch(0.9832 0.0053 286.3021);
  --sidebar-primary: oklch(0.5490 0.2489 269.2583);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2499 0.0030 196.9663);
  --sidebar-accent-foreground: oklch(0.9832 0.0053 286.3021);
  --sidebar-border: oklch(0.2911 0.0029 196.9990);
  --sidebar-ring: oklch(0.5304 0.0061 196.9708);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.7rem;
  --font-inter: "Inter", sans-serif;
  --font-sans: var(--font-inter), ui-sans-serif, sans-serif, system-ui;
  --font-serif: "Lora", serif;
  --font-mono: "IBM Plex Mono", monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.05;
  --shadow-blur: 7.5px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: -0.025em;
  --spacing: 0.27rem;
  --shadow-2xs: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 7.5px 0px hsl(0 0% 0% / 0.13);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
    letter-spacing: var(--tracking-normal);
  }
}

@layer utilities {
  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1.5rem;
    max-width: 80rem;
  }
}